@import "tailwindcss";

@layer base {
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    @apply bg-[#2f2f33] text-[#171717] font-sans;
    background: var(--tg-theme-bg-color, #2f2f33);
    color: var(--tg-theme-text-color, #171717);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
