@import "tailwindcss";

@theme {
  --color-subtext: #aab8c2;
  --background-color-tg-theme-color: var(--tg-theme-bg-color);
  --font-anonymous: var(--font-anonymous-pro);
}

@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    background: var(--tg-theme-bg-color, #2f2f33);
    color: var(--tg-theme-text-color, #171717);
    font-family: var(--font-anonymous-pro);
    line-height: 120%;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
