@reference "#tailwind.css";

.button {
  @apply px-4 text-sm py-2.5 rounded-[14px] font-bold transition-all hover:scale-98;
}

.primary {
  @apply bg-[#1D9BF0] hover:bg-[#1D9BF0]/80 text-foreground;
}

.secondary {
  @apply bg-white/10 hover:bg-white/15 text-foreground;
}
