@reference "#tailwind.css";

.button {
  @apply rounded-[14px] px-4 py-2.5 text-sm font-bold transition-all hover:scale-98;

  &:disabled {
    @apply text-foreground/40 cursor-default bg-[#404044] hover:scale-100 hover:bg-[#404044];
  }
}

.primary {
  @apply text-foreground bg-[#1D9BF0] hover:bg-[#1D9BF0]/80;
}

.secondary {
  @apply text-foreground bg-white/10 hover:bg-white/15;
}
