@reference "#tailwind.css";

.container {
  @apply flex flex-col gap-2.5;

  .wrapper-sticky {
    @apply sticky top-0 z-50 bg-transparent pt-4 pb-2 transition-all;
  }

  .active {
    @apply bg-tg-theme-color/20;
    backdrop-filter: blur(10px);
  }

  .wrapper-list {
    @apply no-scrollbar overflow-y-auto pb-20;
  }
}
