@reference "#tailwind.css";

.container {
  @apply flex flex-col gap-[15px] rounded-[14px] border border-white/20 p-3;

  .raise {
    @apply mt-3 flex flex-col gap-[15px];

    h1 {
      @apply flex gap-1 text-[12px];

      span {
        @apply text-[14px];
      }

      p {
        @apply text-foreground/75;
      }
    }

    span {
      @apply text-foreground/75 text-[10px];
    }
  }

  .wrapper-fund {
    @apply flex flex-col gap-[15px] rounded-[10px] bg-[#253341] p-3;

    .fundation {
      @apply flex justify-between;

      .info {
        @apply flex flex-row items-center gap-2.5;

        h2 {
          @apply text-foreground/43 text-xs;
        }

        p {
          @apply text-foreground;
        }
      }

      .link-to {
        @apply rounded-[14px] bg-white/10 px-[18px] py-2.5 font-bold transition-all hover:scale-98 hover:bg-white/15;
      }
    }
  }

  .stats {
    @apply flex flex-row gap-1 border-t border-t-white/10 pt-3 text-[10px];

    span {
      @apply text-[14px];
    }

    p {
      @apply text-foreground/75;
    }
  }

  .button-drop {
    @apply w-full cursor-pointer;
  }
}
