@reference "#tailwind.css";

.container {
  @apply border border-white/20 p-3 rounded-[14px] flex flex-col gap-[15px];

  .raise {
    @apply flex flex-col gap-[15px] mt-3;

    h1 {
      @apply text-[12px] flex gap-1;

      span {
        @apply text-[14px];
      }

      p {
        @apply text-foreground/75;
      }
    }

    span {
      @apply text-[10px] text-foreground/75;
    }
  }

  .wrapper-fund {
    @apply flex flex-col gap-[15px] bg-[#253341] rounded-[10px] p-3;

    .fundation {
      @apply flex justify-between;

      .info {
        @apply flex items-center flex-row gap-2.5;

        h2 {
          @apply text-xs text-foreground/43;
        }

        p {
          @apply text-foreground;
        }
      }

      .link-to {
        @apply bg-white/10 hover:bg-white/15 py-2.5 px-[18px] rounded-[14px] hover:scale-98 transition-all font-bold;
      }
    }
  }

  .stats {
    @apply text-[10px] flex flex-row gap-1 pt-3 border-t border-t-white/10;

    span {
      @apply text-[14px];
    }

    p {
      @apply text-foreground/75;
    }
  }

  .button-drop {
    @apply w-full cursor-pointer;
  }
}
