@reference "#tailwind.css";

.tab-item {
  @apply cursor-pointer rounded-[10px] bg-[#7474801F] px-3 py-2 text-xs whitespace-nowrap text-white transition hover:scale-98;
}

.active-item {
  @apply bg-white text-[#253341];
}
