@reference "#tailwind.css";

.container {
  @apply relative rounded-[10px] border border-white/20;

  h1 {
    @apply px-4 py-2 text-[14px] font-bold text-[#F5F8FA];
  }

  .wrapper {
    @apply absolute -bottom-3 left-1/2 -translate-x-1/2;

    span {
      @apply text-foreground bg-tg-theme-color px-2 text-[10px];
    }
  }
}
