@reference "#tailwind.css";

.footer-container {
  @apply fixed bottom-0 left-0 right-0 z-50 bg-footer-nav border-t border-t-white/20 h-[69px];

  nav {
    @apply h-full flex items-center justify-center gap-10;
  }
}
