@reference "#tailwind.css";

.footer-container {
  @apply bg-footer-nav fixed right-0 bottom-0 left-0 z-50 h-[69px] border-t border-t-white/20;

  nav {
    @apply flex h-full items-center justify-center gap-10;
  }
}
